Input{
    color: $text-primary;
    background: $surface;
}
#_default{
    background:$background;
}
Footer{
    background: $panel;
    width: 0%;
}
Header{
    background:$panel;
}

#output{
    background:  $surface;
}

#main{
    layout:horizontal;
}
#io{
    width: 100%;
}


DTsideBar{
    background:black;
    width: 30;
    dock: right;
    height: 100%;

    #dt{
        width: 100%;
        background: $surface;
        border: rgb(80, 79, 79);
    }
    #back{
        color: $foreground;
        width:0;
        height: 3;
        background: $foreground;
    }
}
DTsideBar.-hidden{
    display: none;
}
LogsideBar{
    background:$panel;
    width: 30;
    dock: left;
    height: 100%;


}
LogsideBar.-hidden{
    display: none;
}
Dtreelog{
    background:$panel;
    width: 30;
    dock: right;
    height: 100%;


}
Dtreelog.-hidden{
    display: none;
}



Toast{
    padding: 1;
    background: black;
    color: aqua;
}

