#select-theme{
    width: 30;
    border:none;
    height: 3;

}
#select-language{
    width: 30;
    border:none;
    height: 3;

}
TextEditorSettings{
    align: center middle;
}

TextEditorSettings > Container {
    width: 60;
    height: 18;
    padding: 0 2;
    border: $primary;
}

#themes-static{
    padding: 0 2;
    border: $background;
    width: 20;
}

#title{
    padding:1 ;
    color:$secondary;
    content-align:center middle;
}