Input{
    color: $text-primary;
    background: $surface;
}



#main{
    layout:horizontal;
}
#IO{
    width: 100%;
}


Directory_tree_container{
    background:black;
    width: 30;
    dock: right;
    height: 100%;

    #directory-tree{
        padding:  1 1;
    }

}

Directory_tree_container.-hidden{
    display: none;
}
#IO.-hidden{
    width: 0%;
}
#textarea{
    display: none;
}

#textarea.-show{
    display: block;
    width: 100%;
}
Background_process_container{
    dock:top;
    height: 100%;
    background:$surface;
    align: center middle;

}
Background_process_container > Vertical{
    width: 80;
    height:30;
    background:$surface;

}
Background_process_container > Vertical > DataTable{
    height: 100%;
    width: 100%;
}
Background_process_container.-hidden{
    display: none;
}

Toast{
    padding: 1;
    color: $primary;
}



MeineTextAreaScreen {
    dock:top;
    height: 100%;
    align: center middle;
}
MeineTextAreaScreen > Container{
    width: 90%;
    height:30;

}
MeineTextAreaScreen > Container > Static{
    text-align: center;
    color: $primary;
}
